.blog-content p {
    font-size: 0.875rem;
    margin-bottom: 1rem;
    color: black;
    text-align: justify;
}

.blog-content ul {
    list-style-type: disc;
    list-style-position: inside;
    margin-bottom: 1rem;
    font-size: 0.875rem;
    color: black;
    text-align: justify;
}

.blog-content h2 {
    padding-bottom: 1rem;
    font-size: 1.75rem;
    font-weight: 700;
    color: black;
}

.blog-content h3 {
    padding-bottom: 1rem;
    font-size: 1.25rem;
    font-weight: 700;
    color: black;
}

.blog-content h4 {
    padding-bottom: 1rem;
    font-size: 0.75rem;
    font-weight: 700;
    color: black;
}

@media (min-width: 1024px) {

    .blog-content p,
    .blog-content ul {
        font-size: 1rem;
    }

    .blog-content h2 {
        font-size: 3rem;
    }

    .blog-content h3 {
        font-size: 2rem;
    }

    .blog-content h4 {
        font-size: 1.5rem;
    }
}


/* .blog-content p {
    font-size: 0.875rem;
    margin-bottom: 1rem;
    color: black;
    text-align: justify;
}

.blog-content ul {
    list-style-type: disc;
    list-style-position: inside;
    margin-bottom: 1rem;
    font-size: 0.875rem;
    color: black;
    text-align: justify;
}

.blog-content h2 {
    padding-bottom: 1rem;
    font-size: 1.25rem;
    font-weight: 700;
    color: black;
}

.blog-content h3 {
    padding-bottom: 1rem;
    font-size: 1.125rem;
    font-weight: 700;
    color: black;
}

@media (min-width: 768px) {

    .blog-content p,
    .blog-content ul {
        font-size: 1rem;
    }

    .blog-content h2 {
        font-size: 1.5rem;
    }

    .blog-content h3 {
        font-size: 1.25rem;
    }
}

 */